
*.xml

mnist_cnn/\.idea/

mnist_cnn/checkpoints/

mnist_cnn/mnist/

mnist_cnn/checkpoint

mnist_cnn/original\.data-00000-of-00001

mnist_cnn/original\.index

mnist_cnn/saveMnist_trained\.index

mnist_cnn/saveMnist_trained\.meta

mnist_cnn/saveMnist_trained\.data-00000-of-00001

speech_cnn/\.idea/

speech_cnn/checkpoints/

speech_cnn/data/

speech_cnn/tflearn_logs/

*.pyc

speech_cnn/logs_train\.txt

speech_cnn/\.models_desc\.txt\.swp

speech_cnn/checkpoints_model_1/
